@font-face {
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf')
}

@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

* {
    font-family: 'outfit';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header > *:not(img), section, hr {
    margin: 2rem;
}

article {
    max-width: 720px;
}

h1, h2 {
    font-family: 'young-serif';
}

h1 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 100%;
}

h2 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.35rem;
    font-weight: 600;
}

p {
    line-height: 150%;
}

.card {
    background-color: blue;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
}

img {
    width: 100%;
}

ul, ol {
    margin-left: 1.5rem;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-top: 1rem;
}

td {
    padding: 0.75rem 2rem;
}

tr {
    border-bottom: 1px solid;
}

table tr:last-child {
    border: none;
}

span {
    font-weight:700;
}

@media (min-width: 720px) {
    body {
        background-color: hsl(330, 100%, 98%);
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    article {
        background-color: white;
        margin: 2rem 0 1rem 0;
        width: 720px;
        padding-bottom:1px;
    }

    img {
        width: calc(100% - 4rem);
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { font-size: 11px; color: hsl(228, 45%, 44%); }